#pageTitle{
    font-size: 40px;
}

h3{
    border: 2px solid teal;
    border-radius: 1em;
    padding: 10px;
    border-width: 3px;
    widows: 60px;
    height: 60px;
}
div {
    padding-top: 1em;
    padding-right: 5px;
    padding-bottom: 1em;
  }
#new{
    font-size: 30px;
}
#userProfile{
    border:  2px solid teal;
    height:400px
}
.btn{
    margin-bottom: 1em;
    background-color: teal;
    color:white;
}
#top{
    height:22em;
}