#pageTitle{
    font-size: 40px;
}
.button {
    position: relative;
    top: 13em;
    padding: 15px 32px;
    background-color: teal;
    color: white;
    font-size: 16px;
}

div {
    padding-top: 1em;
    padding-right: 5px;
    padding-bottom: 1em;
  }
.col-md-4{
    font-size: larger;
    border: 2px solid teal;
    border-radius: 1em;
    padding: 2em;
    border-width: 3px;
}
.col-md-8{
    font-size: larger;
    border: 2px solid teal;
    border-radius: 1em;
    padding: 2em;
    border-width: 3px;
}
.btn{
    margin-bottom: 1em;
    background-color: teal;
    color:white;
}
.jumbotron{
    height:22em;
}