#pageTitle{
    font-size: 40px;
}
#post{
    
    height: 200px;
}
#sub{
    position: relative;
    padding: 15px 32px;
    background-color: teal;
    color: white;
    font-size: 16px;
}
.button {
    position: relative;
    top: 13em;
    padding: 15px 32px;
    background-color: teal;
    color: white;
    font-size: 16px;
}
#category{
    position: relative;
    top: 12em;
    padding: 15px 32px;
    background-color: teal;
    color: black;
    font-size: 16px;
}
#search{
    position: relative;
    top: 1em;
}
div {
    padding-top: 1em;
    padding-right: 5px;
    padding-bottom: 1em;
  }
#posts{
    font-size: 30px;
    top:20em;
}
#description{
    border:  2px solid teal;
}
.comment{
    background-color: teal;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  #add-post{
    border:  2px solid teal;
}
.col-sm-1{
    font-size: larger;
    border: 2px solid teal;
    border-radius: 1em;
    margin: 10px;
    border-width: 3px;
    width: 60px;
    height: 60px;
}

