#pageTitle{
    font-size: 40px;
}
#post{
    
    height: 200px;
}
#sub{
    position: relative;
    padding: 15px 32px;
    background-color: teal;
    color: white;
    font-size: 16px;
}
.button {
    position: relative;
    top: 13em;
    padding: 15px 32px;
    background-color: teal;
    color: white;
    font-size: 16px;
}

div {
    padding-top: 1em;
    padding-right: 5px;
    padding-bottom: 1em;
  }
#posts{
    font-size: 30px;
    top:20em;
}

.comment{
    background-color: teal;
    color: white;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
  }
#add-post{
    border:  2px solid teal;
    height: 450px
}
h3{
    border: 2px solid teal;
    border-radius: 1em;
    padding: 10px;
    border-width: 3px;
    widows: 60px;
    height: 60px;
}
.btn{
    margin-bottom: 1em;
    background-color: teal;
    color:white;
}
.jumbotron{
    height:22em;
}
